@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App header {
  color: #9BD3F2;
  background-color: #5B6098;
  padding: 20px 0;
}

.App header h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
  text-shadow: 0 0 5px rgba(157, 213, 244, 0.5);
}

.mainContent {
    width: 750px;
    margin: 0 auto;
}

.textToMatch {
    background-color: #537EBB;
    font-size: 1.2em;
    color: #f8f8f8;
    padding: 20px 50px;
    font-size: 1.6rem;
}

.textAreaContainer {
    margin-top: 20px;
    margin-bottom: 20px;

}
.textAreaContainer textarea {
    width: 100%;
    padding: 0 10px;
    border: 10px solid grey;
    border-radius: 5px;
    height: 200px;
    font-size: 1.5em;
    color: #303030;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7px;
}

textarea:placeholder {
  font-weight: 300;
}

button {
  font-family: 'Roboto', sans-serif;
    padding: 20px;
    color: #537EBB;
    background: white;
    border-radius: 2px;
    border: 3px solid #537EBB;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    color: white;
    background: #537EBB;
}

.timerContainer  {
    font-size: 3em;
    color: #77777B;
}
